# Listing Staff


<div class="alert alert-block alert-info">
This notebook defines for each staff the unit codes taught and the corresponding teaching percentage. 
</div>

**Staff teaching an entire unit alone will have a percentage of 100%.**

The notebook is using `pandas` library.


**Table of content:**

+ [**1. Dictionnary**](#Dictionnary)
+ [**2. Adding full teaching staff**](#Adding_staff)
+ [**3. Adding additional staff**](#other_staff)
+ [**4. Check listing**](#listing)
+ [**5. Saving the staff file**](#save)

In [1]:
import pandas as pd

# 1. Dictionnary <a id='Dictionnary'></a>

We first assign a dictionnary called `staff` that will provide for each teaching staff the following information:

+ name  
+ position within the School
+ units: a list of units taught by the chosen academic  
+ perc: the percentage of the unit taught by the chosen academic

In [2]:
staff = {}

staff['name'] = {}
staff['position'] = {} 
staff['units'] = {} 
staff['perc'] = {}

<div class="alert alert-block alert-danger">
It is worth noting that units and perc have to be listed in the same order.
</div>

We also have to iterate the `k` variable when adding new staff.

As an example to add a new teaching staff do the following:
 
```python
k += 1
staff['name'][k] = 'Newton'
staff['position'][k] = 'Academic'
staff['units'][k] = ['PHYS1727']
staff['perc'][k] = [50.]
```

>Here is the current staff list:

# 2. Adding full teaching staff <a id='Adding_staff'></a>

In [3]:
k = 0
staff['name'][k] = 'Bruce'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['OLET1610','OLET2612','OLET2614','GEOS3014','ENVI5503','MARS5004','MARS5507']
staff['perc'][k] = [100.,100.,100.,25.,100.,25.,100.]

#########
k += 1
staff['name'][k] = 'Clarke'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS3101','GEOS3008']
staff['perc'][k] = [40.,40.]

#########
k += 1
staff['name'][k] = 'Chatzaras'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS1003','GEOS3008']
staff['perc'][k] = [50.,60.] 

#########
k += 1
staff['name'][k] = 'Dominey-Howes'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS2111','GEOS3014','MARS5004']
staff['perc'][k] = [50.,50.,25.] 

#########
k += 1
staff['name'][k] = 'Dutkiewicz'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS2124','GEOS3103']
staff['perc'][k] = [61.5,46.]

#########
k += 1
staff['name'][k] = 'Gillespie'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS5501','ENVI3111','GEOG3888']
staff['perc'][k] = [0.,50.,50.] 

#########
k += 1
staff['name'][k] = 'Hubble'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOL1501','GEOS1003']
staff['perc'][k] = [100.,50.]

#########
k += 1
staff['name'][k] = 'Iveson'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS2123','GEOS1002','GEOS3520']
staff['perc'][k] = [50.,39.,50.]

#########
k += 1
staff['name'][k] = 'McManus'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['SUST5001a','ENVI3888','SUST5001b']
staff['perc'][k] = [50.,54.,50.]

#########
k += 1
staff['name'][k] = 'Morgan'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS3014','GEOG5004'] 
staff['perc'][k] = [25.,0.] 

#########
k += 1
staff['name'][k] = 'Muller'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS2115','GEOS3104','GEOL3888']
staff['perc'][k] = [50.,54.,20.] 

#########
k += 1
staff['name'][k] = 'Neilson'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS3524','ENVI5502','ENVI5801'] 
staff['perc'][k] = [60.,100.,50.] 

#########
k += 1
staff['name'][k] = 'Penny'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS1002','GEOS2116','GEOS3103','AFNR5801','GEOG3888']
staff['perc'][k] = [31.,50.,38.,55.,50.] 

#########
k += 1
staff['name'][k] = 'Pritchard'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS1001','GEOS3053','GEOS3333','GEOS3524']
staff['perc'][k] = [46.5,100.,50.,40.] 

#########
k += 1
staff['name'][k] = 'Rey'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS2114','GEOS2124','GEOS3104','GEOS3101']
staff['perc'][k] = [35.,38.5,23.,60.]

#########
k += 1
staff['name'][k] = 'Salles'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS3009','GEOS3103','GEOS3104','MARS5001'] 
staff['perc'][k] = [33.,16.,23.,45.] 

#########
k += 1
staff['name'][k] = 'Vila-Concejo'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS1001','GEOS3009','GEOS2115','MARS5001','MARS5009','MARS5508'] 
staff['perc'][k] = [20.,33.,25.,55.,20.,100.] 

#########
k += 1
staff['name'][k] = 'Webber'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS1002','GEOS2121'] 
staff['perc'][k] = [30.,50.] 

#########
k += 1
staff['name'][k] = 'Webster'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS3009','GEOS2115','MARS5007']
staff['perc'][k] = [34.,25.,100.] 

#########
k += 1
staff['name'][k] = 'Wyman'
staff['position'][k] = 'Permanent'
staff['units'][k] = ['GEOS2114','GEOL3888'] 
staff['perc'][k] = [65.,60.]

# 3. Adding additional staff  <a id='other_staff'></a>

This is done the same way...

In [4]:
k += 1
staff['name'][k] = 'Cowell'
staff['position'][k] = 'Other'
staff['units'][k] = ['MARS5004']
staff['perc'][k] = [50.]

#########
k += 1
staff['name'][k] = 'Yong'
staff['position'][k] = 'Other'
staff['units'][k] = ['ENVI3111']
staff['perc'][k] = [50.]

#########
k += 1
staff['name'][k] = 'Chandra'
staff['position'][k] = 'Other'
staff['units'][k] = ['GEOL3888']
staff['perc'][k] = [20.]

#########
k += 1
staff['name'][k] = 'Davies'
staff['position'][k] = 'Other'
staff['units'][k] = ['ENVI5809'] 
staff['perc'][k] = [100.] 

#########
k += 1
staff['name'][k] = 'Dragovich'
staff['position'][k] = 'Other'
staff['units'][k] = ['RESP5001']
staff['perc'][k] = [100.]

#########
k += 1
staff['name'][k] = 'Fisher'
staff['position'][k] = 'Other'
staff['units'][k] = ['GEOS5501','ENVI5801']
staff['perc'][k] = [100.,50.]

#########
k += 1
staff['name'][k] = 'Seton'
staff['position'][k] = 'Other'
staff['units'][k] = ['GEOS2111']
staff['perc'][k] = [42.]
  
#########                       
k += 1
staff['name'][k] = 'Zahirovic'
staff['position'][k] = 'Other'
staff['units'][k] = ['GEOS1001'] 
staff['perc'][k] = [33.5] 

#########
k += 1
staff['name'][k] = 'Maalsen'
staff['position'][k] = 'Other'
staff['units'][k] = ['GEOS3333']
staff['perc'][k] = [50.]

#########
k += 1
staff['name'][k] = 'Crowther'
staff['position'][k] = 'Other'
staff['units'][k] = ['ENVI3888']
staff['perc'][k] = [46.]

#########
k += 1
staff['name'][k] = 'Guests'
staff['position'][k] = 'Other'
staff['units'][k] = ['SUST5001a','SUST5001b']
staff['perc'][k] = [50.,50.]

#########
k += 1
staff['name'][k] = 'SOLES'
staff['position'][k] = 'Other'
staff['units'][k] = ['GEOS2116','AFNR5801']
staff['perc'][k] = [50.,45.]

# 4. Check listing  <a id='listing'></a>

We can check the entries before saving the file to the disk.

In [5]:
pd.DataFrame.from_dict(staff)

,name,perc,position,units
0,Bruce,"[100.0, 100.0, 100.0, 25.0, 100.0, 25.0, 100.0]",Permanent,"[OLET1610, OLET2612, OLET2614, GEOS3014, ENVI5..."
1,Clarke,"[40.0, 40.0]",Permanent,"[GEOS3101, GEOS3008]"
2,Chatzaras,"[50.0, 60.0]",Permanent,"[GEOS1003, GEOS3008]"
3,Dominey-Howes,"[50.0, 50.0, 25.0]",Permanent,"[GEOS2111, GEOS3014, MARS5004]"
4,Dutkiewicz,"[61.5, 46.0]",Permanent,"[GEOS2124, GEOS3103]"
5,Gillespie,"[0.0, 50.0, 50.0]",Permanent,"[GEOS5501, ENVI3111, GEOG3888]"
6,Hubble,"[100.0, 50.0]",Permanent,"[GEOL1501, GEOS1003]"
7,Iveson,"[50.0, 39.0, 50.0]",Permanent,"[GEOS2123, GEOS1002, GEOS3520]"
8,McManus,"[50.0, 54.0, 50.0]",Permanent,"[SUST5001a, ENVI3888, SUST5001b]"
9,Morgan,"[25.0, 0.0]",Permanent,"[GEOS3014, GEOG5004]"
10,Muller,"[50.0, 54.0, 20.0]",Permanent,"[GEOS2115, GEOS3104, GEOL3888]"
11,Neilson,"[60.0, 100.0, 50.0]",Permanent,"[GEOS3524, ENVI5502, ENVI5801]"
12,Penny,"[31.0, 50.0, 38.0, 55.0, 50.0]",Permanent,"[GEOS1002, GEOS2116, GEOS3103, AFNR5801, GEOG3..."
13,Pritchard,"[46.5, 100.0, 50.0, 40.0]",Permanent,"[GEOS1001, GEOS3053, GEOS3333, GEOS3524]"
14,Rey,"[35.0, 38.5, 23.0, 60.0]",Permanent,"[GEOS2114, GEOS2124, GEOS3104, GEOS3101]"
15,Salles,"[33.0, 16.0, 23.0, 45.0]",Permanent,"[GEOS3009, GEOS3103, GEOS3104, MARS5001]"
16,Vila-Concejo,"[20.0, 33.0, 25.0, 55.0, 20.0, 100.0]",Permanent,"[GEOS1001, GEOS3009, GEOS2115, MARS5001, MARS5..."
17,Webber,"[30.0, 50.0]",Permanent,"[GEOS1002, GEOS2121]"
18,Webster,"[34.0, 25.0, 100.0]",Permanent,"[GEOS3009, GEOS2115, MARS5007]"
19,Wyman,"[65.0, 60.0]",Permanent,"[GEOS2114, GEOL3888]"
20,Cowell,[50.0],Other,[MARS5004]
21,Yong,[50.0],Other,[ENVI3111]
22,Chandra,[20.0],Other,[GEOL3888]
23,Davies,[100.0],Other,[ENVI5809]
24,Dragovich,[100.0],Other,[RESP5001]
25,Fisher,"[100.0, 50.0]",Other,"[GEOS5501, ENVI5801]"
26,Seton,[42.0],Other,[GEOS2111]
27,Zahirovic,[33.5],Other,[GEOS1001]
28,Maalsen,[50.0],Other,[GEOS3333]
29,Crowther,[46.0],Other,[ENVI3888]
30,Guests,"[50.0, 50.0]",Other,"[SUST5001a, SUST5001b]"
31,SOLES,"[50.0, 45.0]",Other,"[GEOS2116, AFNR5801]"

# 5. Saving the staff file  <a id='save'></a>

We save the dataset to a file called `staff` that will be used in the other **jupyter notebooks**.

In [6]:
pd.DataFrame.from_dict(staff).to_pickle('staff')